[submodule "CA3"]
	path = CA3
	url = https://github.com/SM2A/Semester_Course_Suggestion
[submodule "CA4"]
	path = CA4
	url = https://github.com/SM2A/GoodReads
[submodule "CA5"]
	path = CA5
	url = https://github.com/SM2A/FieldRunners
[submodule "CA6"]
	path = CA6
	url = https://github.com/SM2A/JsonBuilder
[submodule "CA7-1"]
	path = CA7-1
	url = https://github.com/SM2A/UTRIP
[submodule "CA7-2"]
	path = CA7-2
	url = https://github.com/SM2A/UTRIP_Smart
