[submodule "CA3"]
	path = CA3
	url = https://github.com/SM2A/Semester_Course_Suggestion
[submodule "CA4"]
	path = CA4
	url = https://github.com/SM2A/GoodReads
[submodule "CA5"]
	path = CA5
	url = https://github.com/SM2A/FieldRunners
